
		<!-- <link rel="stylesheet" href="/css/archive.css" /> -->

	<!-- jQuery -->
	<script src="/js/jquery-latest.min.js?v3.3.1"></script>

    </head>
    <body>
		{{ partial "nav.html" . }}
		{{ partial "header.html" . }}

          <h1 class="entry-title">
            {{ .Title }}  <!-- title, in this case it will be "Archive page" -->
          </h1>


	<!-- jQuery UI theme switcher: https://github.com/pontikis/jui_theme_switch/ -->
	<!-- <style> -->
	<!-- .switcher_container { padding: 5px; } -->
	<!-- .switcher_list { padding: 2px; } -->
	<!-- .switcher_label { margin-right: 5px; } -->
	<!-- </style> -->
	<!-- <script src="js/jquery.jui_theme_switch.min.js"></script> -->
	<!-- <script> -->
	<!-- $(function() { -->
		<!-- $('#switcher').jui_theme_switch({ -->
			<!-- stylesheet_link_id : 'ui-theme', -->
			<!-- switcher_label     : 'Select jQuery UI Theme:', -->
			<!-- default_theme      : 'cupertino', -->
			<!-- datasource_url     : 'assets/theme_switcher.json' -->
		<!-- }); -->
	<!-- }); -->
	<!-- </script> -->

