
          <!--   <link rel="stylesheet" href="https://www.josephearl.co.uk/css/style.css9"> -->
<!-- <script src="https://www.josephearl.co.uk/js/highlight.js"></script>
<script src="https://www.josephearl.co.uk/js/main.js"></script> -->


<!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/widget.js"></script> -->
<script src="{{ .Site.Params.cdnurl }}/js/lunr.js"></script>
<!-- <script src="https://www.josephearl.co.uk/js/lunr.js"></script> -->
<script src="{{ .Site.Params.cdnurl }}/js/search.min.js"></script>
<script src="{{ .Site.Params.cdnurl }}/js/nav.js"></script>
<script src="{{ .Site.Params.cdnurl }}/js/scroll.js"></script>
<script src="{{ .Site.Params.cdnurl }}/js/sticky.js"></script>
<script src="{{ .Site.Params.cdnurl }}/js/getparamuri.js"></script>
<!-- <script src="{{ .Site.Params.cdnurl }}/js/histats.js"></script> -->

<!-- <script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/prism.js"></script> -->
<!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500" rel="stylesheet" type="text/css"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/ -->

