<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
		
    </head>
    <body>
		{{ partial "nav.html" . }}
		{{ partial "header.html" . }}


</head>
<body>

		{{ .Content }}
<!-- 	<div id="blog-archives" class="category"> -->
		<table id="2019"  class="allposts">		
			<tbody>

<tr><td  colspan="7" class="tr-caption" style="text-align: center;"><span style="color: red;"><b>List Member EVOS Esports MLBB 2019</b></span></td></tr>

<tr>

 <tr>
<td>NO</td>
<td>PICS</td>
    <td>NAME</td>
	<td>NICK</td> 
	<td>YEAR</td>
	<td>POSITION</td>
	<td colspan="2">MLBB ROLE</td>	
 </tr>


</tr>
 
	<tr>
		<td rowspan=2 >1</td>
		<td align="center" rowspan="2" ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564462732/img/mobagenie/yurino-donkey-putra-profile-pics.jpg" /></td>
		<td rowspan=2 >Yurino Putra</td>
		<td rowspan=2 >Donkey</td>
		<td>2019</td>
		<td>Captain</td>
		<td>Tanker</td>
	</tr>
	<tr>
		<td>2017</td>
		<td>Member</td>
		<td>Tanker</td>
	</tr>

	<tr>
		<td rowspan=2>2</td>
		<td rowspan=2 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564462948/img/mobagenie/rekt-gustian-profile-pics-2.jpg" /></td>
		<td rowspan=2 >Gustian</td>
		<td rowspan=2 >Rekt</td>
		<td>2019</td>
		<td>Member</td>
		<td>Marksman</td>
	</tr>
	<tr>
		<td>2018</td>
		<td>Member</td>
		<td>Marksman</td>
	</tr>
	
	<tr>
		<td rowspan=3>3</td>
		<td rowspan=3 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564463265/img/mobagenie/eko-oura-julianto-profile-pics.jpg" /></td>
		<td rowspan=3 >Eko Julianto</td>
		<td rowspan=3 >Oura</td>
		<td>2019</td>
		<td>Member</td>
		<td>Assassin</td>
	</tr>
	<tr>
		<td>2018</td>
		<td>Member</td>
		<td>Assassin</td>
	</tr>
		<td>2017</td>
		<td>Member</td>
		<td>Assassin</td>	
		
	<tr>
		<td rowspan=1>4</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >Vins</td>
		<td>2019</td>
		<td>Member</td>
		<td>*</td>
	</tr>

	<tr>
		<td rowspan=1>5</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >Luminaire</td>
		<td>2019</td>
		<td>Member</td>
		<td>*</td>
	</tr>

	<tr>
		<td rowspan=1>6</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >*</td>
		<td rowspan=1 >Wannn</td>
		<td>2019</td>
		<td>Member</td>
		<td>*</td>
	</tr>	
			</tbody>
		</table>
<!-- 	</div> -->

<!-- List Member EVOS Esports MLBB 2018 - update July 30, 2019 -->	
<!-- 	<div id="blog-archives" class="category"> -->

		<table  id="2018"  class="allposts">		
			<tbody>

<tr><td colspan="7" class="tr-caption" style="text-align: center;"><span style="color: red;"><b>List Member EVOS Esports MLBB 2018</b></span> - update July 30, 2019</td></tr>

<tr>

 <tr>
<td>NO</td>
<td>PICS</td>
    <td>NAME</td>
	<td>NICK</td> 
	<td>YEAR</td>
	<td>POSITION</td>
	<td colspan="2">MLBB ROLE</td>	
 </tr>


</tr>

	<tr>
		<td rowspan=1 >1</td>
		<td align="center" rowspan="1" ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564472530/img/mobagenie/afrindo-g-valentino-profile-pics.jpg" /></td>
		<td rowspan=1 >Afrindo Valentino</td>
		<td rowspan=1 >G</td>
		<td>2018</td>
		<td>Captain</td>
		<td>*</td>
	</tr>
	
	
	<tr>
		<td rowspan=2 >2</td>
		<td align="center" rowspan="2" ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564472144/img/mobagenie/tobias-jess-no-limit-justin-profile-pics.jpg" /></td>
		<td rowspan=2 >Tobias Justin</td>
		<td rowspan=2 >Jess No Limit</td>
		<td>2018</td>
		<td>Member</td>
		<td>Tanker</td>
	</tr>
	<tr>
		<td>2017</td>
		<td>Captain</td>
		<td>Assassin</td>
	</tr>

	<tr>
		<td rowspan=1>3</td>
		<td rowspan=1 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564472530/img/mobagenie/taufik-jiao-hidayah-profile-pics.jpg" /></td>
		<td rowspan=1 >Taufik Hidayah</td>
		<td rowspan=1 >Jiao</td>
		<td>2018</td>
		<td>Member</td>
		<td>*</td>
	</tr>

	<tr>
		<td rowspan=1>4</td>
		<td rowspan=1 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564472530/img/mobagenie/Listyani-ListyChan-profile-pics.jpg" /></td>
		<td rowspan=1 >Listyani</td>
		<td rowspan=1 >ListyChan</td>
		<td>2018</td>
		<td>*</td>
		<td>*</td>
	</tr>	

	<tr>
		<td rowspan=3>5</td>
		<td rowspan=3 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564463265/img/mobagenie/eko-oura-julianto-profile-pics.jpg" /></td>
		<td rowspan=3 >Eko Julianto</td>
		<td rowspan=3 >Oura</td>
		<td>2019</td>
		<td>Member</td>
		<td>Assassin</td>
	</tr>
	<tr>
		<td>2018</td>
		<td>Member</td>
		<td>Assassin</td>
	</tr>
		<td>2017</td>
		<td>Member</td>
		<td>Assassin</td>	
		
	<tr>
		<td rowspan=2>6</td>
		<td rowspan=2 ><img width="100"  height="100" src="https://res.cloudinary.com/drlhixyyd/image/upload/v1564462948/img/mobagenie/rekt-gustian-profile-pics-2.jpg" /></td>
		<td rowspan=2 >Gustian</td>
		<td rowspan=2 >Rekt</td>
		<td>2019</td>
		<td>Member</td>
		<td>Marksman</td>
	</tr>
	<tr>
		<td>2018</td>
		<td>Member</td>
		<td>Marksman</td>
	</tr>
	

		
			</tbody>
		</table>

		
<!-- 	</div> -->
	
</table>



		
		{{ partial "js-init.html" . }}
		{{ partial "footer.html" . }}
    </body>
</html>